<section class="share">
    <h4>Social</h4>
    <a class="icon" href="https://twitter.com/DField_FL">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        <span class="hidden">Twitter</span>
    </a>
    <a class="icon" href="https://github.com/DFieldFL">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        <span class="hidden">GitHub</span>
    </a>
    <a class="icon" href="https://www.linkedin.com/in/brandongroves">
        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        <span class="hidden">LinkedIn</span>
    </a>
</section>
